<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'header.html' %}
        <title>Create</title>
    </head>
    <body style="background-color: SlateBlue">
        <div class="main-container">
            <ul>
                <li >
                    <h1 id="main-name">Create a Chat 💬</h1>
                </li>
                <li>
                    <input class="inputs create-chat-name",type="text", placeholder="Enter chat name", value="", id="inputRoomName">
                </li>
                <li>
                    <button id="create_btn", class="btn submit create-chat",type="button">CREATE</button>
                </li>
            </ul>

             <button onclick="location.href='/'", class="btn submit back",type="button"> <img src="../static/styles/images/back.png"></button>
        </div>
    <script>
        const socket = require('./socket')
    </script>
    </body>
</html>