<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'header.html' %}
        <title>Home</title>
    </head>
    <body style="background-color: SlateBlue">
        <div class="main-container">
            <ul>
                <li >
                    <h1 id="main-name">Free Flask Chat 💬 </h1>
                </li>
                <li>
                    <input id ="inputName", class="inputs name", type="text", placeholder="Enter your name">
                </li>

                <li>
                    <button class="btn submit join", type="button" , id ='join_page_btn'> JOIN </button>
                    <button class="btn submit create",type="button"> CREATE</button>
                </li>
            </ul>
        </div>
      {% include 'client.html' %}
    </body>
</html>

<!-- onclick="location.href='join-page'", ->>