<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
        <title>Home</title>
    </head>
    <body style="background-color: SlateBlue">
        <div class="main-container">
            <ul>
                <li >
                    <h1 id="main-name">Free Flask Chat 💬</h1>
                </li>
                <li>
                    <input class="inputs name",type="text", placeholder="Enter your name">
                </li>

                <li>
                    <button onclick="location.href='create.html'" class="btn submit create",type="button">CREATE</button>
                    <button onclick="location.href='join.html'", class="btn submit join",type="button">JOIN</button>
                </li>
            </ul>
        </div>


    </body>
</html>