<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Title</title>
</head>
<body>
<div class ="main-header">
    <button class ="btn back" type="button"> <IMG src="images/back.png"></button>
    <img class="avatar" src="images/avatar.png">
    <h2  class="chat-name" > Name of Chat </h2>
    <button class="btn menu" type="button"> <img src="images/menu.png"> </button>

</div>
<div>
<h1>Text Field</h1>
</div>
<div>
    <span> <input type = text, value="Enter your text here">
        <button> Send</button>
    </span>
</div>
</body>
</html>