<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
        <title>Room</title>
    </head>
    <body style="background-color: SlateBlue">
        <div class="main-container room">
            <ul>
                <li >
                   <div class ="main-header">
                    <div class="main-header back-block">
                        <button onclick="location.href='home.html'", class ="btn back" type="button"> <IMG src="images/back.png"></button>
                    </div>
                    <div class="main-header avatar-block">
                         <img class="avatar" src="images/avatar.png">
                    </div>
                    <div class="main-header name-block">
                        <h2  class="chat-name" > Name of Chat </h2>
                    </div>
                    <div class="main-header menu-block">
                         <button class="btn menu" type="button"> <img src="images/menu.png"> </button>
                    </div>
                   </div>
                </li>
                <li>
                    <div class="text-field">
                        <ul>
                            <li>
                                  <div class="sender-container">
                                    <div class="sender">
                                        <p>
                                            Cool, you?
                                        </p>
                                    </div>
                                </div>

                            </li>
                            <li>
                                <div class="receiver-container">
                                    <div class="receiver">
                                        <p>
                                            Cool, you?
                                        </p>
                                    </div>
                                </div>

                            </li>
                                                        <li>
                                  <div class="sender-container">
                                    <div class="sender">
                                        <p>
                                            Ahashhhahaha
                                        </p>

                                    </div>
                                </div>

                            </li>
                                                        <li>
                                  <div class="sender-container">
                                    <div class="sender">
                                        <p>
                                         Hmmm let me think
                                        </p>
                                    </div>
                                </div>

                            </li>

                        </ul>
                     </div>
                </li>

                <li>
                    <div class="footer">
                        <input class="inputs",type = text, placeholder="Enter your text here">
                        <button class="btn submit send"> <img src="images/send.png"></button>
                    </div>
                </li>
            </ul>
            <div class="menu-bar">
                <ul>
                    <li>
                        <button class="btn delete">Delete chat ❌</button>
                    </li>
                    <li>
                        <button class="btn clear-history">Clear history 🧹</button>
                    </li>
                </ul>
            </div>
        </div>


    </body>
</html>