* {
    font-family: SansSerif;
}

html, body {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
.main-header {
    width: 100%;
    display: flex;
    background-color: SlateBlue;
    margin: 0px;
    padding: 0px;
    height: 100px;
    align-items: center;
    max-height: 100px;
    min-width: 100px;

}

.main-ul {
    flex-grow: 1;
    display: inline-block;
    text-align: center;
    align-items: center;
    align-content: center;
    text-align-all: center;
    width: 50%;
}

.main-ul li{
    display: inline;

}
.main-ul li:first-child{
    display: inline-block;

}

.main-ul li:last-child{
    float: right;
    margin-top: 1.3em;
    text-align: center;
    vertical-align: center;
    padding-right: 1em;
    width: 50%;

}


.btn {
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    height: 50px;
    width: 50px;
    border: none;

}
.btn img {
    height: 20px;
}

.btn.back {
    float: left;
    padding-right: 1em;
    cursor: pointer;
}


.avatar {
    background-color: darkorchid;
    border-radius: 50%;
    cursor: pointer;
}


.chat-name {
    margin-left: 0.5em;
    text-align-all: center;
    cursor: pointer;

}

.btn.menu {


    float: right;
    margin-right: 0;
    align-items: end;
    padding-right: 0.5em;
    cursor: pointer;
}

.btn:hover {
    background-color: DarkSlateBlue ;
}



